branches:
    only:
        - master

matrix:
  allow_failures:
    - os: osx
  include:
    - os: linux
      dist: trusty
      language: python
      python: 2.7
      sudo: required
      apt:
       packages:
        - python-tk
    - os: osx
      language: generic

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then virtualenv venv -p python; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then source venv/bin/activate; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt install python-tk; fi

install:
  - pip install --upgrade pip
  - pip install numpy==1.13.1
  - pip install cython==0.26
  - pip install scikit-learn==0.19.0
  - pip install scipy==0.19.1
  - pip install matplotlib==2.0.2
  - pip install mdtraj==1.8.0

script: 
  - cd tests
  - ./test_cg.sh
  - ./test_anm.sh
  - ./test_eigen_vectors.sh
  - ./test_common_residues.sh
  - ./test_msf.sh
  - ./test_get_aligned.sh
  - ./test_conformation.sh
  - ./test_trajectory.sh
  - ./test_internal_pca.sh
  - ./test_pca.sh
  - ./test_mds.sh
  - ./test_tsne.sh
