branches:
    only:
        - master

matrix:
  allow_failures:
    - os: osx
  include:
    - os: linux
      dist: trusty
      language: python
      python:
        - "2.7"
      sudo: required
      apt:
       packages:
        - python-tk
    - os: osx
      language: generic

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then virtualenv venv -p python; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then source venv/bin/activate; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt install python-tk; fi

install:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then pip install numpy==1.13.1 cython==0.26 scikit-learn==0.19.0 scipy==0.19.1 matplotlib==2.0.2 mdtraj==1.8.0; fi

script: 
  - cd tests
  - ./test_cg.sh
  - ./test_anm.sh
  - ./test_eigen_vectors.sh
  - ./test_msf.sh
  - ./test_conformation.sh
  - ./test_trajectory.sh
  - ./test_internal_pca.sh
  - ./test_pca.sh
  - ./test_mds.sh
  - ./test_tsne.sh
