backports.functools-lru-cache==1.4
cycler==0.10.0
Cython==0.27.3
matplotlib==2.1.1
mdtraj==1.9.1
numpy==1.13.3
pandas==0.21.1
pkg-resources==0.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
subprocess32==3.2.7
